html { overflow-y: scroll; }
body {
    padding-top: 5rem;
    overflow: hidden;
    position: absolute;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    align-content: center;
  }
  .navbar{
    background-color: #4AABA4 !important;
  }
  .nav-link{
    color: #fff !important;
  }

  .starter-template {
    padding: 3rem 1.5rem;
    text-align: left;
  }
  .figs {
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
  } 
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .jumbotron{
    background: url("../images/sky_bg_cropped.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: #242362;
    /* align-content: center; */
}
  .btn {
    color: #fff;
    background-color: #242362;
    border-color: #fff; /*set the color you want here*/
}
  .btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #242362;
    border-color: #fff; /*set the color you want here*/
}

.test{
  color: #00ff2a !important;
}
.blist{
  vertical-align: center;
}